@{
    ViewBag.Title = "Home";
}

<div class="home-hero">

    <h1>City Power &amp; Light</h1>

    <p>Welcome to the CP&amp;L outage reporting tool. From here you can view all reported outages via the dashboard screen, or report a new outage. Our technicians will address outages as soon as possible.</p>

    <div class="text-center">

        <a href="/dashboard" class="btn btn-lg btn-primary">
            <i class="glyphicon glyphicon-list-alt"></i>&nbsp; Dashboard
        </a>

        <a href="~/Incident/Create" class="btn btn-lg btn-primary">
            <i class="glyphicon glyphicon-bullhorn"></i>&nbsp; Report Outage
        </a>

    </div>

</div>