@{
    ViewBag.Title = "Outage Dashboard";
}

<div class="container">

    <h1>@ViewBag.Title</h1>

    <!--INSERT VIEW CODE-->
    <!--VIEW CODE-->


    <!--TEMPLATE CODE -->
    <div class="row">

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Outage 153</div>
                <table class="table">
                    <tr>
                        <th>Address</th>
                        <td>200 W. Elm St.</td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td><a href="tel:14174444444">Jane Doe</a></td>
                    </tr>
                    <tr>
                        <th>Reported</th>
                        <td>9/8/2016</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Outage 153</div>
                <table class="table">
                    <tr>
                        <th>Address</th>
                        <td>200 W. Elm St.</td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td><a href="tel:14174444444">Jane Doe</a></td>
                    </tr>
                    <tr>
                        <th>Reported</th>
                        <td>9/8/2016</td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Outage 153</div>
                <table class="table">
                    <tr>
                        <th>Address</th>
                        <td>200 W. Elm St.</td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td><a href="tel:14174444444">Jane Doe</a></td>
                    </tr>
                    <tr>
                        <th>Reported</th>
                        <td>9/8/2016</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <!--TEMPLATE CODE -->
</div>